extends ../layout/index

block contenido
    div.py-10    
        h1.text-4xl.my-10.font-extrabold.text-center COIR 
            span.font-normal Inmobiliaria 
        h2.text-center.text-2xl.font-extrabold= pagina 

        div(class="bg-white shadow py-8 px-4 rounded mx-auto mx-w-4xl my-10 md:px-10")
            form.space-y-8

            h1 Contenido
            h1 Contenido